Django==4.0
django-filter==2.4.0
psycopg2
psycopg2-binary
djangorestframework
django-cors-headers==3.5.0
Pillow
django-debug-toolbar
django-allauth
django-rest-auth
djangorestframework-simplejwt==4.6.0
djoser
PyJWT==2.0.0
reportlab
django-two-factor-auth
pandas
numpy
scikit-learn
scipy
opencv-contrib-python
pdfkit
openpyxl
PyPDF2
django-extensions
django-debug-toolbar
django-import-export
factory_boy
Werkzeug
python-dateutil
django-security
django-seed